.plusIcon {
    &:hover {
        fill: #5D6C7B;

        path {
            transition: all .4s ease-out;
            fill: white;
        }
    }

    &-active {
        fill: #5D6C7B;

        path {
            fill: white;
        }
    }
}