.del {
    .do {
        transition: all 1s;
        opacity: 0;
        width: 0;
        min-height: 15rem;
        visibility: hidden;

        .is {
            display: none;
        }

    }

    &:hover {

        h3 {
            color: var(--lavander);

            svg {
                g {
                    path {
                        fill: var(--lavander);
                    }
                }
            }
        }

        .do {
            transition: all .5s;
            width: 35rem;
            opacity: 1;
            padding: 2rem 2.60rem 2rem 2.60rem;
            visibility: visible;

        }

        .is {
            display: flex;
        }

    }

}

.hoverLavanderTitle {
    &:hover {
        g {
            path {
                transition: all 100ms;
                fill: var(--lavander);
            }
        }
    }
}